{% extends "base.html" %}

{% block content %}
{% load static %}
{% include "who_is_logged.html" %}
<table>
    {% for country in object_list %}
        <tr>
            <td><img src="{% static country.name|add:".jpg" %}" height=60 width=100 alt="No image"></td>
            <td>{{ country.name }}</td>
            <td>{{ country.region }}</td>
            <td>{{ country.population }}</td>
            <td>{{ country.population_density }}</td>
            <td>{{ country.gdp }}</td>
            <td>{{ country.gdp_per_capita }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
